{erl_opts, [debug_info]}.
{deps, [{cessna, {git, "git@172.16.90.97:backend/cessna.git"}}]}.
{escript_main_app, test}.
{escript_name, "test_cessna_tools"}.
{escript_emu_args, "%%! -escript main test_tools\n"}.
{escript_incl_apps, [test_cessna, lager]}.

{relx, [
        {release,
         {test_cessna, "test_cessna_v0.0.1"},
         [cessna,
          test_cessna,
          {wx, load},
          {observer, load},
          {runtime_tools, load}
         ]},
        {overlay,
         [{copy, "priv", "priv"}]},
        {dev_mode, true},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/app.config"}
       ]}.