%% -*- mode:erlang -*-

[{lager, [
          {error_logger_hwm, 500},
          {handlers, [
                      %% {lager_console_backend, debug},
                      {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter},
                                               {formatter_config, ["\e[94m", time, "\e[0m ",
                                                                   "\e[42m[", severity,"]\e[0m ",
                                                                   {module, ["\e[32m", module, "\e[0m", {line, [":\e[92m", line, "\e[0m "], ""}], ""}, "",
                                                                   "\e[91m[\e[0m", message ,"\e[91m]\e[0m" , "\r\n"]}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
                      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
                     ]}
         ]
 }].
